.clear {
  clear: both;
}

body {
    background: #eee;
}

.header h1 {
  margin: 20px;
}

.header #lang_switch {
  position: relative;
  top: 20px;
}

.footer {
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  margin-top: 70px;
}

body>.container {
  min-height: 500px;
  background: #fff;
  padding: 0px 20px;
}

footer #copyright {
  margin: 10px;
}

footer ul.nav {
  float: left;
  margin: 10px 0;
}

footer ul.nav li {
  float: left;
  margin: 8px;
}
